write-kubeconfig-mode: "0644"
{% if ( rke2_node_type == 'agent') or ((rke2_server_ha == True) and (rke2_first_server != True)) %}
server: https://{{ rke2_api_domain }}:9345
{% endif %}
token: {{ rke2_token }}
{# server specific #}
{% if rke2_node_type == 'server'%}
tls-san:
  - {{ rke2_api_domain }}
  - {{ rke2_api_ip }}
{% if rke2_cni is defined%}
cni:
{% for cni in rke2_cni %}
  - {{cni}}
{% endfor %}
{% endif %}
{% if rke2_disable is defined%}
disable:
{% for line in rke2_disable %}
  - {{line}}
{% endfor %}
{% if rke2_cluster_domain is defined%}
cluster-domain: {{ rke2_cluster_domain }}
{% endif %}
{% endif %}
{% if rke2_kube_api_server_args is defined %}
kube-apiserver-arg:
{% for item in rke2_kube_api_server_args %}
  - "{{item}}"
{% endfor %}
{% endif %}
{% if rke2_disable_kube_proxy is defined and rke2_disable_kube_proxy is sameas true%}
disable-kube-proxy: true
{% endif %}
{% endif %}
{# end server specific #}
{% if ((rke2_node_taint is defined) and (rke2_node_taint == True)) %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
{% endif %}
{% if rke2_containerd_snapshotter is defined %}
snapshotter: {{rke2_containerd_snapshotter}}
{% endif %}
{% if rke2_node_ip is defined%}
node-ip: {{rke2_node_ip}}
{% endif%}